
<footer class="site-footer h-card">
    <data class="u-url" href="/"></data>
  
    <div class="wrapper">
  
      <h2 class="footer-heading"><a href="/">Code4Lib JAPAN</a></h2>
  
      <div class="footer-col-wrapper">
        <div class="footer-col footer-col-1">
          <ul class="contact-list">
            <li class="p-name"><a href="https://www.code4lib.jp/">https://www.code4lib.jp/</a></li>
            <li class="p-name"><a href="/contact/">Contact</a></li>
          </ul>
        </div>
  
        <div class="footer-col footer-col-2"><ul class="social-media-list"></ul>
  </div>
  
        <div class="footer-col footer-col-3">
          <p></p>
        </div>
      </div>
  
    </div>
  
  </footer>
